<%= form_with(model: alpha_evidence, local: true) do |form| %>
  <% if alpha_evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alpha_evidence.errors.count, "error") %> prohibited this alpha_evidence from being saved:</h2>

      <ul>
      <% alpha_evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :document %>
    <%= form.text_field :document, id: :alpha_evidence_document %>
  </div>

  <div class="field">
    <%= form.label :scrum_member_id %>
    <%= form.text_field :scrum_member_id, id: :alpha_evidence_scrum_member_id %>
  </div>

  <div class="field">
    <%= form.label :alpha_item_id %>
    <%= form.text_field :alpha_item_id, id: :alpha_evidence_alpha_item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
