<div class="page-header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to @project.get_framework_dname, project_alpha_alphas_path(@project) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to @alpha_alpha.dname, alpha_alpha_alpha_states_path(@alpha_alpha)  %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @alpha_state.dname %>
    </li>
  </div>

  <%= @alpha_item.ddescription %>
</div>

<%= render 'form' %>
