<div class="page-header">
  <%= link_to alpha_item_defs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_alpha_item_def_path(@alpha_item_def), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show alpha_item_def</h1>
</div>

<dl class="dl-horizontal">
  <dt>Dseq:</dt>
  <dd><%= @alpha_item_def.dseq %></dd>

  <dt>Ddescription:</dt>
  <dd><%= @alpha_item_def.ddescription %></dd>

  <dt>Alpha state def:</dt>
  <dd><%= @alpha_item_def.alpha_state_def %></dd>

</dl>
