<div class="page-header">
  <h1><%= @alpha_state %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>内容</th>
        <th>Completed</th>
        <th>Completed at</th>
        <th>Alpha state</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @alpha_items) do |alpha_item| %>
        <td><%= alpha_item.dseq %></td>
        <td><%= alpha_item.ddescription %></td>
        <td><%= alpha_item.completed %></td>
        <td><%= alpha_item.completed_at %></td>
        <td><%= link_to 'Edit', edit_alpha_item_alpha_evidence_path(alpha_item) %></td>
     <% end %>
    </tbody>
  </table>
</div>
