<div class="page-header">
  <%= link_to new_sprint_diary_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Sprint diary
  <% end %>
  <h1>Listing sprint_diaries</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Bdiary</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sprint_diaries) do |sprint_diary| %>
            <td><%= sprint_diary.bdiary %></td>
            <td><%= link_to 'Show', sprint_diary %></td>
        <td><%= link_to 'Edit', edit_sprint_diary_path(sprint_diary) %></td>
        <td><%= link_to 'Destroy', sprint_diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
