<div class="page-header">
  <!-- <h1>アルファ &gt; <%= @alpha_alpha.dname %></h1>-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to @project.get_framework_dname, project_alpha_alphas_path(@project) %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @alpha_alpha.dname %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        状態
      </li>
    </ol>
  </nav>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Alpha state</th>
        <th>Completed</th>
        <th>Completed items</th>
        <th>Completed at</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @alpha_states) do |alpha_state| %>
            <td><%= alpha_state.dseq %></td>
            <td><%= link_to alpha_state.dname,  alpha_state_alpha_items_path(alpha_state) %></td>
            <td><%= alpha_state.completed %></td>
            <td><%= alpha_state.completed_items %></td>
            <td><%= alpha_state.completed_at %></td>
      <% end %>
    </tbody>
  </table>
</div>
