<div class="page-header">
  <%= link_to new_alpha_state_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Alpha state
  <% end %>
  <h1>Listing alpha_states</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Completed</th>
            <th>Completed items</th>
            <th>Completed at</th>
            <th>Alpha alpha</th>
            <th>Alpha state def</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @alpha_states) do |alpha_state| %>
            <td><%= alpha_state.completed %></td>
            <td><%= alpha_state.completed_items %></td>
            <td><%= alpha_state.completed_at %></td>
            <td><%= alpha_state.alpha_alpha %></td>
            <td><%= alpha_state.alpha_state_def %></td>
            <td><%= link_to 'Show', alpha_state %></td>
        <td><%= link_to 'Edit', edit_alpha_state_path(alpha_state) %></td>
        <td><%= link_to 'Destroy', alpha_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
