<% provide(:title, "Edit password") %>

<div class="container-fulid pt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card p-4 bg-info text-dark">
        <div class="card-body">
          <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>

          <h2>パスワード変更</h2>

          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "パスワード(確認用)" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit "変更を保存する", class: "btn btn-lg btn-block btn-primary" %>

          <% end %>
          <%= link_to "変更を行わずに終了する", current_user %>
        </div>
      </div>
    </div>
  </div>
</div>