<div class="page-header">

  <%= link_to pbl_path(get_current_project_id), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  PBL一覧へ
  <% end %>
  <%= link_to edit_pbl_path(@backlog_item), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  PBL編集
  <% end %>
  <%= link_to new_sbl_path(@backlog_item), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  SBL新規作成
  <% end %>

  <h1>プロダクトバックログ項目の詳細</h1>
</div>



<dl class="dl-horizontal">

  <dt>項目番号:</dt>
  <dd><%= @backlog_item.no %></dd>

  <dt>スプリント:</dt>
  <% if @backlog_item.sprint == nil %> 
  <dd>未選択</dd>
  <% else %>
  <dd>第<%= @backlog_item.sprint.no %>スプリント</dd>
  <% end %>

  <dt>開発タイプ:</dt>
  <dd><%= @backlog_item.dev_type %></dd>

  <dt>状態:</dt>
  <dd><%= BacklogItem::BACKLOG_ITEM_ROLS[@backlog_item.state] %></dd>

  <dt>見積り:</dt>
  <dd><%= @backlog_item.estimate %></dd>

  <dt>開始日:</dt>
  <dd><%= @backlog_item.started_at %></dd>

  <dt>終了日:</dt>
  <dd><%= @backlog_item.ended_at %></dd>

  <dt>内容:</dt>
  <dd><%= @backlog_item.description %></dd>

  <dt>備考:</dt>
  <dd><%= @backlog_item.supplement %></dd>

  <dt>優先度:</dt>
  <dd><%= @backlog_item.priority %></dd>

  <dt>価値:</dt>
  <dd><%= @backlog_item.value %></dd>

  <dt>作成者:</dt>
  <dd><%= @author.name %></dd>

  <dt>作成日:</dt>
  <dd><%= @backlog_item.created_at.to_s(:published_on) %></dd>

</dl>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th width="5%" >Type</th>
        <th width="5%" >No</th>
        <th width="50%" >内容</th>
        <th width="7%" >状態</th>
        <th width="14%" >開始日</th>
        <th width="14%" >終了日</th> 
        <th width="5%" ></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sbl) do |sb| %>
      <td><%= BacklogItem::BACKLOG_ITEM_TYPE[sb.itemType] %></td>
      <td><%= sb.no %></td>
      <td><%= sb.description %></td>
      <td><%= BacklogItem::BACKLOG_ITEM_ROLS[sb.state] %></td>
      <td><%= sb.started_at %></td>
      <td><%= sb.ended_at %></td>
      <td><%= link_to '', show_sbl_path(sb), class: 'btn btn-primary btn-lg fa fa-search fa-lg' %></td>
      <% end %>

    </tbody>
  </table>
</div>
