<div class="page-header">
  <%= link_to alpha_state_defs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_alpha_state_def_path(@alpha_state_def), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show alpha_state_def</h1>
</div>

<dl class="dl-horizontal">
  <dt>Dseq:</dt>
  <dd><%= @alpha_state_def.dseq %></dd>

  <dt>Dname:</dt>
  <dd><%= @alpha_state_def.dname %></dd>

  <dt>Ddescription:</dt>
  <dd><%= @alpha_state_def.ddescription %></dd>

  <dt>Alpha alpha def:</dt>
  <dd><%= @alpha_state_def.alpha_alpha_def %></dd>

</dl>
