<div class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <%= @project.get_framework_dname %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        アルファ
      </li>
    </ol>
  </nav>
</div>


<div class="row px-5">
  <div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP1 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
  <div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP2 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
  <div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP3 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
  <div class="col-md-2 border-right border-dark"><div class="text-center"><h3>STEP4 <i class="far fa-arrow-alt-circle-right"></i></h3></div></div>
  <div class="col-md-2"><div class="text-center"><h3>STEP5 <%= icon("fas","flag-checkered") %></h3></div></div>
</div>

<%= content_tag_for(:tr, @alpha_alphas) do |alpha_alpha| %>
  <div class="row px-5 py-1">
    <%= content_tag_for(:td, alpha_alpha.alpha_states) do |alpha_state| %>
      <div class="col-md-2 border-right border-dark">
        <div class="card text-center border-dark shadow rounded">
          <div class="card-header border-dark">
            <%= alpha_alpha.dname %>
          </div>
          <div class="card-body">
            <p class="card-text">
              <%= link_to alpha_state.dname,  alpha_state_path(alpha_state), class: 'btn btn-primary btn-block' %>
            </p>
            <a class="btn btn-info btn-block p-2 event-spin" data-toggle="collapse" href="#<%= alpha_state.dname %>" role="button" aria-expanded="false" aria-controls="collapseExample">
              進捗状況を見る <i class="fa fa-angle-double-down lotate-anime-before"></i>
            </a>
            <ul class="list-group list-group-flush collapse" id="<%= alpha_state.dname %>">
              <li class="list-group-item">
                進捗状況
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated pg-primary " role="progressbar" style="width: 100%;">
                    n%
                  </div>
                </div>
              </li>
              <li class="list-group-item">
              最終更新日:
              <%= alpha_state.created_at.strftime("%Y/%m/%d") %> 
              </li>
            </ul>
          </div>
        </div>
      </div>      
    <% end %>
  </div>
<% end %>
