<nav class="col-md-3 d-none d-md-block bg-dark sidebar p-0" id="side">
  <div class="sidebar-sticky pt-0">
    <ul class="nav flex-column">
      <li class="nav-item bg-primary pt-0">
        <%= link_to get_project_name, project_path(current_project), class: 'nav-link text-white', id: 'sidebar-project' %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link text-white" href="#" id="sidebar-learning-alpha"><i>ラーニングアルファ</i></a>-->
        <%= link_to "ラーニングアルファ", project_alpha_alphas_path(current_project), class: 'nav-link text-white', id: 'sidebar-sprintbacklog' %>
      </li>
      <li class="nav-item">
        <%= link_to "プロダクトバックログ", pbl_path(current_project), class: 'nav-link text-white', id: 'sidebar-sprintbacklog' %>
      </li>
      <% if get_current_sprint_id != nil %>
        <li class="nav-item">
          <%= link_to "スプリントバックログ", sbl_path(get_current_sprint_id), class: 'nav-link text-white', id: 'sidebar-sprintbacklog' %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "スプリント", sprints_path(current_project), class: 'nav-link text-white', id: 'sidebar-sprint' %>
      </li>
      <li class="nav-item">
        <%= link_to "チームメンバー", scrum_members_path(current_project), class: 'nav-link text-white', id: 'sidebar-team' %>
      </li>
      <li class="nav-item">
       <a href="#" class="nav-link text-white" id="sidebar-calendar"><i>カレンダー</i></a>
      </li>
    </ul>
  </div>
</nav>

